@font-face {
  font-family: "Roboto-Regular_wgt400";
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Roboto-Regular.ttf")  format("truetype");
   font-weight : 400;
 
}
@font-face {
  font-family: "Roboto-Light_wgt200";
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Roboto-Light.ttf")  format("truetype");
   font-weight : 200;
 
}
@font-face {
  font-family: "Roboto-Regular_wgt800";
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Roboto-Regular.ttf")  format("truetype");
   font-weight : 800;
 
}