#t-f39803f7-df02-4169-93eb-7547fb8c961a > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 640.0px;
  width: 100%;
  height: 100%;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Menu {
  position: absolute;
  width: 36.0px;
  height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Slidemenu {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_3 {
  width: 250.0px;
  height: 593.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_3 .verticalalign {
  vertical-align: top;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-BG_1 {
  position: absolute;
  width: 250.0px;
  min-height: 593.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(4.999238475781956px -0.08726203218641818px 10px #666666);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-BG_1 > .backgroundLayer > .colorLayer {
  background-color: #7070DB;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-BG_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-BG_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-BG_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-BG_1 span#rtr-t-BG_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_4 {
  position: absolute;
  width: 250.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'HYPost-Medium',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 54px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'HYPost-Medium',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_4 span#rtr-t-Rectangle_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'HYPost-Medium',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_3 {
  position: absolute;
  width: 250.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 54px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 14.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_3 span#rtr-t-Rectangle_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 14.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_2 {
  position: absolute;
  width: 250.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'HYPost-Medium',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 54px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'HYPost-Medium',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_2 span#rtr-t-Rectangle_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'HYPost-Medium',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_17 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_71 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_96 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(180.0deg);
  -moz-transform: rotate(180.0deg);
  transform: rotate(180.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Menu_close {
  position: absolute;
  width: 36.0px;
  height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-cover {
  position: absolute;
  width: 110.0px;
  min-height: 593.0px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-cover > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-cover .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-cover .valign {
  vertical-align: middle;
  text-align: center;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-cover span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-cover span#rtr-t-cover_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}